<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112385937051-t34fa32ojiuvcv3ksq1iq14i9obk9m1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112385937051-t34fa32ojiuvcv3ksq1iq14i9obk9m1v</string>
	<key>API_KEY</key>
	<string>AIzaSyArpTe-PW4TFRTptcUzExV91eTDgh8FaOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>112385937051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdrouviere.photoDB</string>
	<key>PROJECT_ID</key>
	<string>photoapp-a5dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp-a5dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112385937051:ios:3b310846e9b4bb60a9c03e</string>
</dict>
</plist>